# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.log

*.log

*.log

debug.log

*.log

*.xcworkspacedata

*.xccheckout

*.xcuserstate

*.xcscheme

proj.ios/standstill.xcodeproj/xcuserdata/Tanty.xcuserdatad/xcschemes/xcschememanagement.plist
