<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>answer.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {749, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{749, 154}</string>
			<key>spriteSourceSize</key>
			<string>{755, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2360, 3023}, {749, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>answer_active.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {749, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{749, 154}</string>
			<key>spriteSourceSize</key>
			<string>{755, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 3265}, {749, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>awa_normal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {147, 304}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{147, 304}</string>
			<key>spriteSourceSize</key>
			<string>{147, 304}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3907, 2995}, {147, 304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>awa_pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {147, 304}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{147, 304}</string>
			<key>spriteSourceSize</key>
			<string>{147, 304}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{847, 2734}, {147, 304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {2048, 1536}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{2048, 1536}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {2048, 1536}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {580, 910}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{580, 910}</string>
			<key>spriteSourceSize</key>
			<string>{580, 912}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1050, 1538}, {580, 910}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chest.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 0}, {494, 505}}</string>
			<key>spriteOffset</key>
			<string>{-2, 3}</string>
			<key>spriteSize</key>
			<string>{494, 505}</string>
			<key>spriteSourceSize</key>
			<string>{512, 511}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3584, 1964}, {494, 505}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chest1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {246, 260}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{246, 260}</string>
			<key>spriteSourceSize</key>
			<string>{250, 260}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3812, 2733}, {246, 260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chest_green.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 260}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 260}</string>
			<key>spriteSourceSize</key>
			<string>{250, 260}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3300, 2808}, {250, 260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chest_red.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {246, 260}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{246, 260}</string>
			<key>spriteSourceSize</key>
			<string>{250, 260}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3812, 2471}, {246, 260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>close.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {132, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{132, 132}</string>
			<key>spriteSourceSize</key>
			<string>{136, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3492, 884}, {132, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>close_active.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {132, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{132, 132}</string>
			<key>spriteSourceSize</key>
			<string>{136, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3492, 750}, {132, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>correct.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {107, 99}}</string>
			<key>spriteOffset</key>
			<string>{4, -6}</string>
			<key>spriteSize</key>
			<string>{107, 99}</string>
			<key>spriteSourceSize</key>
			<string>{115, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3492, 1369}, {107, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_ring.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 8}, {562, 574}}</string>
			<key>spriteOffset</key>
			<string>{1, 5}</string>
			<key>spriteSize</key>
			<string>{562, 574}</string>
			<key>spriteSourceSize</key>
			<string>{600, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2034, 1678}, {562, 574}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>desk.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 13}, {345, 387}}</string>
			<key>spriteOffset</key>
			<string>{-9, -1}</string>
			<key>spriteSize</key>
			<string>{345, 387}</string>
			<key>spriteSourceSize</key>
			<string>{363, 411}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2598, 2192}, {345, 387}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>desk1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 12}, {845, 393}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{845, 393}</string>
			<key>spriteSourceSize</key>
			<string>{845, 405}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 2354}, {845, 393}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>detailbtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {170, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{170, 104}</string>
			<key>spriteSourceSize</key>
			<string>{170, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1752, 3034}, {170, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>detailbtn_active.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {170, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{170, 104}</string>
			<key>spriteSourceSize</key>
			<string>{170, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1334, 3002}, {170, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dianshi.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 11}, {376, 514}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{376, 514}</string>
			<key>spriteSourceSize</key>
			<string>{400, 530}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 2749}, {376, 514}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dianshi_lock.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 13}, {372, 512}}</string>
			<key>spriteOffset</key>
			<string>{1, -4}</string>
			<key>spriteSize</key>
			<string>{372, 512}</string>
			<key>spriteSourceSize</key>
			<string>{400, 530}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{378, 2749}, {372, 512}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>error.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 25}, {87, 87}}</string>
			<key>spriteOffset</key>
			<string>{2, -11}</string>
			<key>spriteSize</key>
			<string>{87, 87}</string>
			<key>spriteSourceSize</key>
			<string>{115, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{752, 2749}, {87, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>faststartbtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {280, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{280, 104}</string>
			<key>spriteSourceSize</key>
			<string>{280, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2453, 2707}, {280, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>faststartbtn_active.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {280, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{280, 104}</string>
			<key>spriteSourceSize</key>
			<string>{280, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2171, 2602}, {280, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>female.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 31}, {232, 234}}</string>
			<key>spriteOffset</key>
			<string>{-1, -13}</string>
			<key>spriteSize</key>
			<string>{232, 234}</string>
			<key>spriteSourceSize</key>
			<string>{240, 270}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1389, 2450}, {232, 234}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>firework.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 0}, {400, 508}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{400, 508}</string>
			<key>spriteSourceSize</key>
			<string>{420, 508}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1632, 1538}, {400, 508}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>floatbg_gold.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1048, 814}}</string>
			<key>spriteOffset</key>
			<string>{-6, -0}</string>
			<key>spriteSize</key>
			<string>{1048, 814}</string>
			<key>spriteSourceSize</key>
			<string>{1060, 814}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1538}, {1048, 814}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>floatbg_large.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {1270, 926}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{1270, 926}</string>
			<key>spriteSourceSize</key>
			<string>{1280, 932}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2050, 750}, {1270, 926}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>friend.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{156, 156}</string>
			<key>spriteSourceSize</key>
			<string>{156, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1845, 2728}, {156, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameover.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 10}, {556, 220}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{556, 220}</string>
			<key>spriteSourceSize</key>
			<string>{558, 230}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2022, 2254}, {556, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 16}, {462, 904}}</string>
			<key>spriteOffset</key>
			<string>{-38, -8}</string>
			<key>spriteSize</key>
			<string>{462, 904}</string>
			<key>spriteSourceSize</key>
			<string>{580, 920}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3609, 1058}, {462, 904}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>house.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 7}, {342, 446}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{342, 446}</string>
			<key>spriteSourceSize</key>
			<string>{360, 460}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2972, 1678}, {342, 446}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>house_active.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 7}, {342, 446}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{342, 446}</string>
			<key>spriteSourceSize</key>
			<string>{360, 460}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2972, 2126}, {342, 446}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>huishi.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {388, 520}}</string>
			<key>spriteOffset</key>
			<string>{-6, 1}</string>
			<key>spriteSize</key>
			<string>{388, 520}</string>
			<key>spriteSourceSize</key>
			<string>{400, 530}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1632, 2048}, {388, 520}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>huishi_lock.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 13}, {372, 512}}</string>
			<key>spriteOffset</key>
			<string>{1, -4}</string>
			<key>spriteSize</key>
			<string>{372, 512}</string>
			<key>spriteSourceSize</key>
			<string>{400, 530}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2598, 1678}, {372, 512}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>input.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {102, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{102, 102}</string>
			<key>spriteSourceSize</key>
			<string>{102, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3492, 1470}, {102, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>inputbox2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3492, 1574}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>leizhu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{200, 113}</string>
			<key>spriteSourceSize</key>
			<string>{200, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2735, 2735}, {200, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>loginbg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {1588, 748}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{1588, 748}</string>
			<key>spriteSourceSize</key>
			<string>{1596, 756}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2050, 0}, {1588, 748}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>loginbtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {298, 124}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{298, 124}</string>
			<key>spriteSourceSize</key>
			<string>{300, 124}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2471, 2581}, {298, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>loginbtn_active.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {298, 124}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{298, 124}</string>
			<key>spriteSourceSize</key>
			<string>{300, 124}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2171, 2476}, {298, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>logo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 11}, {808, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{808, 154}</string>
			<key>spriteSourceSize</key>
			<string>{810, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{752, 3194}, {808, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>male.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 4}, {204, 266}}</string>
			<key>spriteOffset</key>
			<string>{-7, -2}</string>
			<key>spriteSize</key>
			<string>{204, 266}</string>
			<key>spriteSourceSize</key>
			<string>{240, 270}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3552, 2853}, {204, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menubar.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 6}, {168, 918}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{168, 918}</string>
			<key>spriteSourceSize</key>
			<string>{170, 930}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3322, 750}, {168, 918}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menubtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {148, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{148, 146}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1786, 2886}, {148, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menubtn_active.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {148, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{148, 146}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2003, 2782}, {148, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pad.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 7}, {220, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 190}</string>
			<key>spriteSourceSize</key>
			<string>{240, 204}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1623, 2570}, {220, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>people.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {444, 1056}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{444, 1056}</string>
			<key>spriteSourceSize</key>
			<string>{448, 1062}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3640, 0}, {444, 1056}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pers1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {147, 304}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{147, 304}</string>
			<key>spriteSourceSize</key>
			<string>{147, 304}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3758, 2995}, {147, 304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pers2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {147, 304}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{147, 304}</string>
			<key>spriteSourceSize</key>
			<string>{147, 304}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2022, 2476}, {147, 304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>progress_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {410, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{410, 50}</string>
			<key>spriteSourceSize</key>
			<string>{410, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{906, 3142}, {410, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>progress_fg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {410, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{410, 50}</string>
			<key>spriteSourceSize</key>
			<string>{410, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{906, 3090}, {410, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>radio_off.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {46, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 46}</string>
			<key>spriteSourceSize</key>
			<string>{48, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{999, 2354}, {46, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>radio_on.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {46, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{46, 46}</string>
			<key>spriteSourceSize</key>
			<string>{48, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{999, 2402}, {46, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>randombtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 102}</string>
			<key>spriteSourceSize</key>
			<string>{250, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2433, 2919}, {250, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>randombtn_active.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 102}</string>
			<key>spriteSourceSize</key>
			<string>{250, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2108, 3020}, {250, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {115, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{115, 115}</string>
			<key>spriteSourceSize</key>
			<string>{115, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3492, 1135}, {115, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {115, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{115, 115}</string>
			<key>spriteSourceSize</key>
			<string>{115, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3492, 1252}, {115, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {115, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{115, 115}</string>
			<key>spriteSourceSize</key>
			<string>{115, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3492, 1018}, {115, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>receivebtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {170, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{170, 104}</string>
			<key>spriteSourceSize</key>
			<string>{170, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2735, 2850}, {170, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>receivebtn_active.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {170, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{170, 104}</string>
			<key>spriteSourceSize</key>
			<string>{170, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1924, 3036}, {170, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>setbtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {152, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{152, 152}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2771, 2581}, {152, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>setbtn_activ.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {152, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{152, 152}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{752, 3040}, {152, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sharetbn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {278, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{278, 101}</string>
			<key>spriteSourceSize</key>
			<string>{278, 101}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2153, 2814}, {278, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sharetbn_active.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {278, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{278, 101}</string>
			<key>spriteSourceSize</key>
			<string>{278, 101}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2153, 2917}, {278, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sina.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{156, 156}</string>
			<key>spriteSourceSize</key>
			<string>{156, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1389, 2844}, {156, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>startbtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 5}, {667, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{667, 126}</string>
			<key>spriteSourceSize</key>
			<string>{667, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 3421}, {667, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>startbtn_active.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 5}, {667, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{667, 126}</string>
			<key>spriteSourceSize</key>
			<string>{667, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{751, 3350}, {667, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tenxun.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{156, 156}</string>
			<key>spriteSourceSize</key>
			<string>{156, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1389, 2686}, {156, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tiaozhan.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 0}, {336, 122}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{336, 122}</string>
			<key>spriteSourceSize</key>
			<string>{360, 122}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{996, 2966}, {336, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>timer_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 0}, {150, 378}}</string>
			<key>spriteOffset</key>
			<string>{-22, 1}</string>
			<key>spriteSize</key>
			<string>{150, 378}</string>
			<key>spriteSourceSize</key>
			<string>{280, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{847, 2354}, {150, 378}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>timer_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 0}, {248, 378}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{248, 378}</string>
			<key>spriteSourceSize</key>
			<string>{280, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3316, 2428}, {248, 378}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>timer_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 0}, {244, 380}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{244, 380}</string>
			<key>spriteSourceSize</key>
			<string>{280, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3566, 2471}, {244, 380}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>timer_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {258, 376}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{258, 376}</string>
			<key>spriteSourceSize</key>
			<string>{280, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3316, 2050}, {258, 376}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>timer_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {260, 378}}</string>
			<key>spriteOffset</key>
			<string>{-10, 1}</string>
			<key>spriteSize</key>
			<string>{260, 378}</string>
			<key>spriteSourceSize</key>
			<string>{280, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3322, 1670}, {260, 378}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>timer_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {244, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{244, 116}</string>
			<key>spriteSourceSize</key>
			<string>{250, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1506, 3027}, {244, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>titlebg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 0}, {1706, 244}}</string>
			<key>spriteOffset</key>
			<string>{2, 3}</string>
			<key>spriteSize</key>
			<string>{1706, 244}</string>
			<key>spriteSourceSize</key>
			<string>{1720, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1906, 3179}, {1706, 244}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>viewbtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {280, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{280, 104}</string>
			<key>spriteSourceSize</key>
			<string>{280, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2453, 2813}, {280, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>viewbtn1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {170, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{170, 104}</string>
			<key>spriteSourceSize</key>
			<string>{170, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1936, 2930}, {170, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>viewbtn1_active.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {170, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{170, 104}</string>
			<key>spriteSourceSize</key>
			<string>{170, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1547, 2921}, {170, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>viewbtn_active.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {280, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{280, 104}</string>
			<key>spriteSourceSize</key>
			<string>{280, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2171, 2708}, {280, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>vs.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {353, 353}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{353, 353}</string>
			<key>spriteSourceSize</key>
			<string>{365, 365}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2945, 2574}, {353, 353}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>vs1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {152, 106}}</string>
			<key>spriteOffset</key>
			<string>{4, -2}</string>
			<key>spriteSize</key>
			<string>{152, 106}</string>
			<key>spriteSourceSize</key>
			<string>{160, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1752, 3140}, {152, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>weixin.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{156, 156}</string>
			<key>spriteSourceSize</key>
			<string>{156, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1845, 2570}, {156, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>win.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 6}, {237, 157}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{237, 157}</string>
			<key>spriteSourceSize</key>
			<string>{251, 171}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1547, 2762}, {237, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xiangshi.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 11}, {388, 514}}</string>
			<key>spriteOffset</key>
			<string>{6, -3}</string>
			<key>spriteSize</key>
			<string>{388, 514}</string>
			<key>spriteSourceSize</key>
			<string>{400, 530}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{999, 2450}, {388, 514}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>name</key>
		<string>StandStill.zwd</string>
		<key>textureFileName</key>
		<string>StandStill_default.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>