<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>answer.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {352, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{352, 73}</string>
			<key>spriteSourceSize</key>
			<string>{354, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1106, 1417}, {352, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>answer_active.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {352, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{352, 73}</string>
			<key>spriteSourceSize</key>
			<string>{354, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1531}, {352, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>awa_normal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 142}</string>
			<key>spriteSourceSize</key>
			<string>{68, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1832, 1404}, {68, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>awa_pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 142}</string>
			<key>spriteSourceSize</key>
			<string>{68, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{397, 1282}, {68, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {960, 720}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{960, 720}</string>
			<key>spriteSourceSize</key>
			<string>{960, 720}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {960, 720}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {272, 427}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{272, 427}</string>
			<key>spriteSourceSize</key>
			<string>{272, 427}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{492, 721}, {272, 427}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chest.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {230, 235}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{230, 235}</string>
			<key>spriteSourceSize</key>
			<string>{240, 239}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1680, 921}, {230, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chest1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {117, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{117, 121}</string>
			<key>spriteSourceSize</key>
			<string>{117, 121}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1787, 1281}, {117, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chest_green.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {117, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{117, 121}</string>
			<key>spriteSourceSize</key>
			<string>{117, 121}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1547, 1316}, {117, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chest_red.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {117, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{117, 121}</string>
			<key>spriteSourceSize</key>
			<string>{117, 121}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1787, 1158}, {117, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>close.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {61, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{61, 61}</string>
			<key>spriteSourceSize</key>
			<string>{63, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1637, 414}, {61, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>close_active.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {61, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{61, 61}</string>
			<key>spriteSourceSize</key>
			<string>{63, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1637, 351}, {61, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>correct.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 6}, {49, 47}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{49, 47}</string>
			<key>spriteSourceSize</key>
			<string>{53, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1637, 642}, {49, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>countdown_ring.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 4}, {263, 269}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{263, 269}</string>
			<key>spriteSourceSize</key>
			<string>{281, 281}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{953, 786}, {263, 269}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>desk.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {162, 180}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{162, 180}</string>
			<key>spriteSourceSize</key>
			<string>{170, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1218, 1028}, {162, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>desk1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {396, 185}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{396, 185}</string>
			<key>spriteSourceSize</key>
			<string>{396, 189}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1104}, {396, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>detailbtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 48}</string>
			<key>spriteSourceSize</key>
			<string>{79, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{821, 1422}, {79, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>detailbtn_active.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 48}</string>
			<key>spriteSourceSize</key>
			<string>{79, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{625, 1407}, {79, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dianshi.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {175, 242}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{175, 242}</string>
			<key>spriteSourceSize</key>
			<string>{187, 248}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1289}, {175, 242}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dianshi_lock.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {173, 240}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{173, 240}</string>
			<key>spriteSourceSize</key>
			<string>{187, 248}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{177, 1289}, {173, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>error.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 11}, {41, 41}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{41, 41}</string>
			<key>spriteSourceSize</key>
			<string>{53, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 1289}, {41, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>faststartbtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {131, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{131, 48}</string>
			<key>spriteSourceSize</key>
			<string>{131, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1150, 1269}, {131, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>faststartbtn_active.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {131, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{131, 48}</string>
			<key>spriteSourceSize</key>
			<string>{131, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1018, 1220}, {131, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>female.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 15}, {108, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{108, 108}</string>
			<key>spriteSourceSize</key>
			<string>{112, 126}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{651, 1149}, {108, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>firework.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {188, 238}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{188, 238}</string>
			<key>spriteSourceSize</key>
			<string>{196, 238}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{765, 721}, {188, 238}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>floatbg_gold.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {491, 381}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{491, 381}</string>
			<key>spriteSourceSize</key>
			<string>{497, 381}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 721}, {491, 381}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>floatbg_large.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {596, 435}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{596, 435}</string>
			<key>spriteSourceSize</key>
			<string>{600, 437}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{961, 351}, {596, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>friend.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {73, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{73, 73}</string>
			<key>spriteSourceSize</key>
			<string>{73, 73}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{865, 1279}, {73, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameover.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {261, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{261, 103}</string>
			<key>spriteSourceSize</key>
			<string>{261, 107}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{948, 1057}, {261, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 8}, {216, 423}}</string>
			<key>spriteOffset</key>
			<string>{-18, -4}</string>
			<key>spriteSize</key>
			<string>{216, 423}</string>
			<key>spriteSourceSize</key>
			<string>{272, 431}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1692, 496}, {216, 423}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>house.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {160, 207}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 207}</string>
			<key>spriteSourceSize</key>
			<string>{168, 215}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1393, 786}, {160, 207}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>house_active.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {160, 207}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 207}</string>
			<key>spriteSourceSize</key>
			<string>{168, 215}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1393, 997}, {160, 207}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>huishi.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {181, 244}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{181, 244}</string>
			<key>spriteSourceSize</key>
			<string>{187, 248}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{765, 960}, {181, 244}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>huishi_lock.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {173, 240}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{173, 240}</string>
			<key>spriteSourceSize</key>
			<string>{187, 248}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1218, 786}, {173, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>input.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{47, 47}</string>
			<key>spriteSourceSize</key>
			<string>{47, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1637, 689}, {47, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>inputbox2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1637, 738}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>leizhu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {93, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{93, 52}</string>
			<key>spriteSourceSize</key>
			<string>{93, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1282, 1282}, {93, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>loginbg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {746, 352}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{746, 352}</string>
			<key>spriteSourceSize</key>
			<string>{748, 354}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{961, 0}, {746, 352}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>loginbtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {140, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{140, 58}</string>
			<key>spriteSourceSize</key>
			<string>{140, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1158, 1210}, {140, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>loginbtn_active.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {140, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{140, 58}</string>
			<key>spriteSourceSize</key>
			<string>{140, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1018, 1161}, {140, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>logo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 5}, {379, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{379, 71}</string>
			<key>spriteSourceSize</key>
			<string>{379, 79}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 1497}, {379, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>male.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {94, 124}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{94, 124}</string>
			<key>spriteSourceSize</key>
			<string>{112, 126}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1665, 1338}, {94, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menubar.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {79, 430}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 430}</string>
			<key>spriteSourceSize</key>
			<string>{79, 436}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1558, 351}, {79, 430}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menubtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {70, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{70, 68}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{837, 1353}, {70, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menubtn_active.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {70, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{70, 68}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{939, 1304}, {70, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pad.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {102, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{102, 89}</string>
			<key>spriteSourceSize</key>
			<string>{112, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{761, 1205}, {102, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>people.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {208, 496}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{208, 496}</string>
			<key>spriteSourceSize</key>
			<string>{210, 498}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1707, 0}, {208, 496}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pers1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 142}</string>
			<key>spriteSourceSize</key>
			<string>{68, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1762, 1404}, {68, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pers2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 142}</string>
			<key>spriteSourceSize</key>
			<string>{68, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{948, 1161}, {68, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>progress_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{192, 23}</string>
			<key>spriteSourceSize</key>
			<string>{192, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{424, 1473}, {192, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>progress_fg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{192, 23}</string>
			<key>spriteSourceSize</key>
			<string>{192, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{424, 1449}, {192, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>radio_off.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {22, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{22, 22}</string>
			<key>spriteSourceSize</key>
			<string>{22, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{468, 1104}, {22, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>radio_on.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {22, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{22, 22}</string>
			<key>spriteSourceSize</key>
			<string>{22, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{468, 1126}, {22, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>randombtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {117, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{117, 47}</string>
			<key>spriteSourceSize</key>
			<string>{117, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1141, 1369}, {117, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>randombtn_active.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {117, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{117, 47}</string>
			<key>spriteSourceSize</key>
			<string>{117, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{988, 1416}, {117, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{53, 53}</string>
			<key>spriteSourceSize</key>
			<string>{53, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1637, 532}, {53, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{53, 53}</string>
			<key>spriteSourceSize</key>
			<string>{53, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1637, 587}, {53, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{53, 53}</string>
			<key>spriteSourceSize</key>
			<string>{53, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1637, 477}, {53, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>receivebtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 48}</string>
			<key>spriteSourceSize</key>
			<string>{79, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1282, 1336}, {79, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>receivebtn_active.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 48}</string>
			<key>spriteSourceSize</key>
			<string>{79, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{902, 1423}, {79, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>setbtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {73, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{73, 73}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1299, 1210}, {73, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>setbtn_activ.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {73, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{73, 73}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 1425}, {73, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sharetbn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {130, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{130, 47}</string>
			<key>spriteSourceSize</key>
			<string>{130, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1009, 1319}, {130, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sharetbn_active.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {130, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{130, 47}</string>
			<key>spriteSourceSize</key>
			<string>{130, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1009, 1368}, {130, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sina.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {73, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{73, 73}</string>
			<key>spriteSourceSize</key>
			<string>{73, 73}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{651, 1333}, {73, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>startbtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {312, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{312, 59}</string>
			<key>spriteSourceSize</key>
			<string>{312, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1604}, {312, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>startbtn_active.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {312, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{312, 59}</string>
			<key>spriteSourceSize</key>
			<string>{312, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 1571}, {312, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tenxun.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {73, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{73, 73}</string>
			<key>spriteSourceSize</key>
			<string>{73, 73}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{651, 1259}, {73, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tiaozhan.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {158, 57}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{158, 57}</string>
			<key>spriteSourceSize</key>
			<string>{168, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{467, 1391}, {158, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>timer_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 0}, {71, 176}}</string>
			<key>spriteOffset</key>
			<string>{-10, 1}</string>
			<key>spriteSize</key>
			<string>{71, 176}</string>
			<key>spriteSourceSize</key>
			<string>{131, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{397, 1104}, {71, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>timer_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{131, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1555, 1138}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>timer_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {115, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{115, 178}</string>
			<key>spriteSourceSize</key>
			<string>{131, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1672, 1158}, {115, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>timer_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {121, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{121, 176}</string>
			<key>spriteSourceSize</key>
			<string>{131, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1555, 961}, {121, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>timer_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {123, 178}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{123, 178}</string>
			<key>spriteSourceSize</key>
			<string>{131, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1558, 783}, {123, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>timer_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {115, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{115, 54}</string>
			<key>spriteSourceSize</key>
			<string>{117, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{706, 1419}, {115, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>titlebg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {800, 115}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{800, 115}</string>
			<key>spriteSourceSize</key>
			<string>{806, 117}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{893, 1492}, {800, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>viewbtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {131, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{131, 48}</string>
			<key>spriteSourceSize</key>
			<string>{131, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1150, 1319}, {131, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>viewbtn1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 48}</string>
			<key>spriteSourceSize</key>
			<string>{79, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{907, 1374}, {79, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>viewbtn1_active.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 48}</string>
			<key>spriteSourceSize</key>
			<string>{79, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{725, 1369}, {79, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>viewbtn_active.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {131, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{131, 48}</string>
			<key>spriteSourceSize</key>
			<string>{131, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1018, 1270}, {131, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>vs.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {165, 165}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{165, 165}</string>
			<key>spriteSourceSize</key>
			<string>{171, 171}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1381, 1207}, {165, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>vs1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {71, 49}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{71, 49}</string>
			<key>spriteSourceSize</key>
			<string>{75, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{821, 1472}, {71, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>weixin.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {73, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{73, 73}</string>
			<key>spriteSourceSize</key>
			<string>{73, 73}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{865, 1205}, {73, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>win.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {111, 74}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{111, 74}</string>
			<key>spriteSourceSize</key>
			<string>{117, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{725, 1295}, {111, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xiangshi.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {181, 242}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{181, 242}</string>
			<key>spriteSourceSize</key>
			<string>{187, 248}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{468, 1149}, {181, 242}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1922, 1922}</string>
		<key>name</key>
		<string>StandStill.zwd</string>
		<key>textureFileName</key>
		<string>StandStill_default.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>